*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
#first .first-left li{
    font-size: 11px;
    color: #ffffff;
    float: left;
    padding: 10px;
    margin-left: 10px;
}
#first .first-left{
    float: left;
    margin-left: 40px;
    margin-top: -5px;
}
#first .first-right{
    float: left;
    margin-left:781px;
    margin-top: -30px;
}
#first>div{
    background-color: #cccccc;
    height: 22px;
}
#first .first-right>li{
    font-size: 11px;
    float: left;
    margin:0 10px 0 10px;
    width: 80px;
    height: 29px;
}
#first .first-right li{
    position: relative;
    /*height: 50px;*/
}
#first .first-right li .triple{
    position: absolute;
    right: 1px;
    top: 5px;
}
#first .first-right .border1{
    border:1px solid #ff0000;
    height: 45px;
    width: 69px;
    line-height: 2;
    margin-top: 5px;
    text-align: center;
    background-color: #fff;
    /*display: none;*/
}
#first .kuai ul{
    display: inline;
}
a,span{
    color: dimgray;
}
#first .first-right li i{
    color: #f00;
}
#first .first-right li:hover{
    height: 28px;
    background-color: #fff;
}
#first .first-right li:hover>div{
    display: block;
}
#first .first-right li div ul:hover a{
    color: #f00;
}
.triple{
    content: "";
    width: 0;
    border: 5px solid transparent;
    border-top-color: red;
}
.kuai a{
    text-align: center;
}
#first .first-right .border3{
    border: 1px solid #ff0000;
    height: 116px;
    width: 102px;
}
#first .first-right .border3 ul，#first .first-right .border3 p{
    padding: 5px;
}
#first .first-right .border3 .xian{
    border-top:1px dashed red ;
    /*border-botoom:10px dashed red;*/
    height: 20px;
}