<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <p v-show="msg">
        pppppppp
    </p>
    <div v-show="msg">
        <p>pppppppp</p>
        <h1>hhhhhh</h1>
        <span>spansapan</span>
    </div>
    要想div这个大块不显示，只显示里面的应该用template
    <template v-if="msg">
        <p>pppppppp</p>
        <h1>hhhhhh</h1>
        <span>spansapan</span>
    </template>
    //这个里面不能写v-show不好使


    <div v-if="msg">
            dddddddddddd
    </div>
    <div v-else>
        hhhhhhh
    </div>
    <p v-if="xx=='A'">
        aaaaaaaaaaa
    </p>
    <h2 v-else-if=" xx=='B'">
        bbbbbbbbb
    </h2>
    <span v-else>
        ccccccccccc
    </span>



</div>
<script src="vue.js"></script>
<script>
    // <!--var vm=new Vue({-->
    //     <!--el:"#app",-->
        <!--data:{-->
            <!--msg:false,-->
            <!--// true:调用这个的下面的内容显示，false不显示-->
            <!--xx:'A',-->
            <!--yy:'B'-->
        <!--}-->
    <!--})-->




</script>
</body>
</html>